<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" aria-label="RSS Feed">
                            <span class="fa-stack fa-lg" aria-hidden="true">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
                            <span class="fa-stack fa-lg" aria-hidden="true">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" aria-label="Facebook">
                            <span class="fa-stack fa-lg" aria-hidden="true">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
                            <span class="fa-stack fa-lg" aria-hidden="true">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- Site JavaScript (vanilla JS — no jQuery) -->
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
