<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                </li>
                {% for page in site.pages_list %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page[1] | prepend: site.baseurl }}">{{ page[0] }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <button id="theme-toggle" type="button" aria-label="Toggle dark mode">
                        <i class="fa-regular fa-moon" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>
